<nav>
    <ul>
        <li>
            <a href="/">[ Home ]</a>
        </li>
        <li>
            <a href="/admin">[ Index ]</a>
        </li>
        <li>
            <a href="/admin/visitors">[ Visitors ]</a>
        </li>
        <li>
            <a href="/admin/conversations">[ Conversations ]</a>
        </li>
    </ul>
</nav>