<nav>
    <ul>
        <% if (process.env.CV_DOWNLOAD) { %>
        <li>
            <a href="<%= process.env.CV_DOWNLOAD %>" target="_blank">[ Download Resume ]</a>
        </li>
        <% } %>
        <li>
            <a href="#" class="dialogueAnchor" onclick="sendMenuMessage ('Tell me about the AI of Virtual Martin.');return false;">[ About Virtual Martin ]</a>
        </li>
        <li>
            <a href="#" class="dialogueAnchor" onclick="sendMenuMessage ('How can I contact you?');return false;">[ Contacts ]</a>
        </li>
    </ul>
</nav>