* {
    font-family: Roboto Mono, monospace;
    color: #000;
    -webkit-font-smoothing: antialiased;
    font-size: 100%;
    vertical-align: baseline;
}
body,html {
    height: 100%
}
h1 {
    text-align: center;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
nav li {
    display: inline-block;
}
nav a {
    text-decoration: none;
}
nav a:hover {
    font-weight: bold;
}
.whiteOpacity {
    background-color: #fff;
    opacity: 0.5;
}
#messages {
    max-height: 100%;
    overflow: scroll;
}
.message {
    line-height: 1.6;
    letter-spacing: 1px;
    font-style: normal;
    margin: 20px 0;
}
.message.ai .text * {
    color: #492806;
}
.arrow {
    float:left;
}
.send {
    text-align: right;
    cursor: pointer;
}
.send:hover {
    font-weight: bold;
}
.text {
    margin-left: 20px;
}
.text[contenteditable=true] {
    outline: none;
    border: solid #B2814F;
    border-width: 0 0 2px 0;
}
.typing {
    border-right: 2px solid #666
}
.chatWindow {
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    margin: auto;
    padding: 60px;
    max-width: 500px;
    height: 600px;
}
#background {
    position: fixed;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 15px;
    text-align: center;
}
header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 15px;
    text-align: center;
}
