<!DOCTYPE html>
<html>
<head>
    <% include ../partials/header.ejs %>
</head>
<body>
<header>
    <h1>AI Responses</h1>
    <% include ../partials/admin-nav.ejs %>
</header>
<article style="margin:100px auto;max-width:1024px;padding:30px;">
    <% include ../partials/ai-responses-nav.ejs %>
    <% include ../partials/paginate.ejs %>
    <% model.forEach (response => { %>
    <p><%= response.updated %></p>
    <h2><%= response.topic %></h2>
    <p>
        <%= response.options %>
    </p>
    <hr />
    <% });%>
    <% include ../partials/paginate.ejs %>
</article>
<% include ../partials/footer.ejs %>
</body>
</html>